#### Properties

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
    {{#each properties}}
        <tr>
            <td>
                {{#if this.comment.deprecatedNotes}}
                <b class="tooltip">
                    Deprecated
                    <span class="tooltiptext">{{this.comment.deprecatedNotes}}</span>
                </b>
                {{/if}}
                <p>
                    {{this.name}}: {{this.type}}
                </p>
            </td>
            <td>
                <p>{{this.comment.description}}</p>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
