<div class="toolbar" fxLayout="row" fxLayoutAlign="start center">
    <button
        *ngFor="let button of buttons"
        mat-icon-button
        (click)="onButtonClick(button.click)">
        <fa-icon *ngIf="button.icon" [icon]="button.icon"></fa-icon>
    </button>
    <div fxFlex></div>
    <span [style.padding-right.px]="10" fxLayoutAlign="start center">{{index + 1}} of {{tasks.length}}</span>
    <button mat-icon-button (click)="onPageButtonClick(index - 1)" [disabled]="index < 0 || index === 0">
        <fa-icon [icon]="faPrev"></fa-icon>
    </button>
    <button mat-icon-button (click)="onPageButtonClick(index + 1)" [disabled]="index < 0 || index === tasks.length - 1">
        <fa-icon [icon]="faNext"></fa-icon>
    </button>
</div>
<mat-divider></mat-divider>
<div class="container">
    <h2 *ngIf="task" fxLayout="row">
        <span class="pr-2">{{task.name}}</span>
        <fa-icon *ngIf="icon && tooltip" [icon]="icon" [matTooltip]="tooltip"></fa-icon>
    </h2>
</div>
<app-task-form [parentForm]="form" [task]="task"></app-task-form>
