/* Styles to fill height of remaining space. Taken from below stackoverflow.
    https://stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space */

.box {
    display: flex;
    height: 100%;
    flex-direction: column;
}
  
.box-content {
    flex: 1;
}

.footer {
    flex: 0 1 40px;
}
