/* Import any global styles and define basic HTML tag styles. */
@import 'box.scss';
@import 'color.scss';
@import 'spacing.scss';

html, body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
}
body { 
    font-size: 15px;
}

blockquote {
    overflow: auto;
}
  
p, ul {
    line-height: 1.5;
}
  
pre {
    &::-webkit-scrollbar {
        height: 8px;
        width: 8px;
    }
  
    &::-webkit-scrollbar-thumb {
        background: rgba(255,255,255,0.4);
        border-radius: 4px;
    }
  
    &::-webkit-scrollbar-thumb:hover {
        background: rgba(255,255,255,0.7);
    }
  
    &::-webkit-scrollbar-track {
        background: rgba(255,255,255,0.2);
        border-radius: 4px;
    }
}

mat-tab-body pre {
    margin: 0 0 4px 0 !important;
    border-radius: 0px 0px 4px 4px !important;
}

/*
This forces a scroll bar to appear next to sidenav if content expands beyond
main sidenav content.
*/
mat-drawer, mat-sidenav {
    overflow-x: visible !important;
    overflow-y: auto !important;
}

/*
This gets "display: flex" by default which forces a horizontal scroll bar to
appear when the vertical scroll bar appears which hides the right side border
of the highlighted sidenav item. Setting below "display: block" seems to fix
this issue so no horizontal scroll bar appears and you can see right side
border with vertical scoll bar.
 */
ngx-material-dashboard-sidenav {
    display: block !important;
}

app-tabbed-document-tab .mat-tab-body-content {
    background: #272822 !important;
    border-radius: 0px 0px 4px 4px !important;
}

.container {
    padding: 20px 40px;
}

.fullWidth {
    width: 100%;
}

.hide {
    display: none;
}

.mat-card {
    background-color:#eee;
}

.mat-card .plyr__controls {
    background-color: #eee;
}

section {
    margin-top: 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 32px;
    width: 100%;

    th {
        font-size: 15px;
        font-weight: 500;
        padding: 14px 16px;
    }

    th[align=""],
    th:not([align]) {
        text-align: left;
    }

    td {
        font-size: 14px;
        font-weight: 400;
        padding: 8px 16px;
        text-align: left;
    }
}

textarea {
    font-family: monospace !important;
}

[hidden] {
    display: none !important;
}
  
* {
    box-sizing: border-box;
}
