@import '~@angular/material/theming';

@mixin tabbed-document-tab-component-theme($theme) {
    $accent: map-get($theme, accent);
    $foreground: map-get($theme, foreground);

    .method-name-row,
    .method-parameters-header-row,
    .method-returns-header-row {
        background: mat-color($mat-grey, A200);
    }

    .method-name-cell,
    .method-returns-type-cell {
        color: mat-color($accent);
    }
}
