@import '~@angular/material/theming';

@mixin scrollspy-nav-component-theme($theme) {
    $primary: map-get($theme, primary);
    $foreground: map-get($theme, foreground);

    ul.scrollspy-nav {

        li {
            border-left: 2px solid mat-color($primary);
            box-shadow: inset 1px 0 0 mat-color($primary);

            &:not(.active) {
                box-shadow: inset 1px 0 0 mat-color($foreground, text, .21);

                a:not(:hover) {
                    color: mat-color($foreground, text);
                }
            }
        }

        // remove box-shadow from nested headings so there is only 1 visible
        // scroll line; otherwise a secondary line is displayed next to
        // nested headings which doesn't look good
        li.nested-headings {
            &:not(.active) {
                box-shadow: none;

                // make nested headings same opacity as parent otherwise they
                // appear too dark since opacity seems to be combined when
                // nesting li tags
                opacity: 1 !important;
            }
        }
    }
}
