.docs-header {
    overflow: hidden;
    position: relative;
    height: 420px;
}

.docs-header::before {
    content: "";
    position: absolute;
    background-image: url(../../../../../assets/images/angular_ngx_logo_contrast.svg);
    background-size: 600px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: 80% 20px;
    opacity: .2;
}

.docs-header h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    margin: 15px 5px;
}

.docs-header h2 {
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    margin: 15px 0 25px;
}

.docs-header-section {
    color: white;
    width: 75%;
    position: absolute;
    z-index: 0;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.docs-main-content {
    margin: 50px 0;
}

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 75%;
    max-width: 1080px;
    margin: auto;
}

.main h2 {
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 16px;
    padding: 0;
}

.main p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 0 24px;
    padding: 0;
}
