<div mat-dialog-title>
    <span>
        <fa-icon [icon]="faEdit"></fa-icon>
        Edit Task
    </span>
</div>
<mat-dialog-content>
    <app-task-form [parentForm]="form" [task]="task"></app-task-form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button (click)="cancel()" class="marker-action-cancel">Cancel</button>
    <button mat-raised-button 
            color="primary" 
            type="submit" 
            (click)="save()"
            class="marker-action-save">
        <span>Save</span>
    </button>
</mat-dialog-actions>