:host {
    display: block;
}

.mat-fab,
.mat-mini-fab {
    img {
        margin-bottom: 2px;
    }
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 64px;
    overflow-wrap: break-word;
}

.scrollup-button {
    margin:14px;

    &--fixed {
        position: fixed;
        bottom: 16px;
        right: 16px;
    }
}
